<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <style>
        body {
            text-align: center; /* Centra todo el texto del cuerpo */
        }
        .product {
            border: 1px solid #ccc; /* Opcional: para añadir un borde a cada producto */
            padding: 3px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1 style="color: blueviolet;">MI CARRITO</h1>
    {{#each productsCart}}
        {{#each products}}
            <div class="product">
                <h2>{{title}}</h2>
                <img src="{{img}}" alt="{{title}}" width="100">
                <p>Cantidad: {{quantity}}</p>
                <p>Precio: {{price}} $USD</p>
            </div>
        {{/each}}
    {{/each}}
</body>
</html>
