<h1>TUS DATOS</h1>

<h4>Nombre: {{name}} {{lastName}}</h4>
<h4>Email: {{email}}</h4>
<h4>Edad: {{age}}</h4>
<h4>Año de Registro: {{registrationYear}}</h4>
<h4>Tipo de usuario: {{role}}</h4>

<a href="/api/sessions/logout"><button id="logoutButton">Logout</button></a>